<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- ── Entry Point ── -->
        <activity
            android:name=".activities.common.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.auth.OnboardingActivity"
            android:exported="true" />

        <activity android:name=".activities.auth.LoginActivity"         android:exported="true" />
        <activity android:name=".activities.auth.RegisterActivity"      android:exported="true" />
        <activity android:name=".activities.auth.OtpVerifyActivity"     android:exported="true" />
        <activity android:name=".activities.auth.ForgotPasswordActivity"   android:exported="true" />
        <activity android:name=".activities.auth.SetNewPasswordActivity"  android:exported="true" />

        <!-- ── Main ── -->
        <activity android:name=".activities.common.HomeActivity" android:exported="true" />

        <!-- ── Student Activities ── -->
        <activity android:name=".activities.student.CourseDetailActivity" android:exported="true" />
        <activity android:name=".activities.student.LearningActivity"     android:exported="true" />
        <activity android:name=".activities.student.MyCoursesActivity"    android:exported="true" />
        <activity android:name=".activities.student.SearchActivity"       android:exported="true" />
        <activity android:name=".activities.student.CourseListActivity"   android:exported="true" />

        <!-- ── Instructor Activities ── -->
        <activity android:name=".activities.instructor.InstructorDashboardActivity" android:exported="true" />
        <activity android:name=".activities.instructor.CourseListActivity"           android:exported="true" />
        <activity android:name=".activities.instructor.EditCoursesActivity"           android:exported="true" />
        <activity android:name=".activities.instructor.StudentListActivity"          android:exported="true" />
        <activity android:name=".activities.instructor.RevenueActivity"              android:exported="true" />
        <activity android:name=".activities.instructor.ProfileInstructorActivity"    android:exported="true" />

        <!-- ── Admin Activities ── -->
        <activity android:name=".activities.admin.AdminDashboardActivity" android:exported="true" />
        <activity android:name=".activities.admin.UserManageActivity"     android:exported="true" />
        <activity android:name=".activities.admin.CourseApprovalActivity" android:exported="true" />
        <activity android:name=".activities.admin.ReportActivity"         android:exported="true" />

        <!-- ── Common Activities ── -->
        <activity android:name=".activities.common.AccountActivity"       android:exported="true" />
        <activity android:name=".activities.common.CartActivity"          android:exported="true" />
        <activity android:name=".activities.common.CheckoutActivity"      android:exported="true" />
        <activity android:name=".activities.common.EditProfileActivity"   android:exported="true" />
        <activity android:name=".activities.common.NotificationActivity"  android:exported="true" />
        <activity android:name=".activities.common.PaymentResultActivity" android:exported="true" />

    </application>

</manifest>
