<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" >

        <!-- Entry Point -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Student Activities -->
        <activity android:name=".activities.student.CourseDetailActivity" android:exported="false" />
        <activity android:name=".activities.student.LearningActivity" android:exported="false" />
        <activity android:name=".activities.student.MyCoursesActivity" android:exported="false" />
        <activity android:name=".activities.student.SearchActivity" android:exported="false" />
        <activity android:name=".activities.student.CourseListActivity" android:exported="false" />


        <!-- Instructor Activities -->
        <activity android:name=".activities.instructor.InstructorDashboardActivity" android:exported="false" />
        <activity android:name=".activities.instructor.EditCourseActivity" android:exported="false" />
        <activity android:name=".activities.instructor.StudentListActivity" android:exported="false" />
        <activity android:name=".activities.instructor.RevenueActivity" android:exported="false" />
        <activity android:name=".activities.instructor.ProfileInstructorActivity" android:exported="false" />

        <!-- Admin Activities -->
        <activity android:name=".activities.admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".activities.admin.UserManageActivity" android:exported="false" />
        <activity android:name=".activities.admin.CourseApprovalActivity" android:exported="false" />
        <activity android:name=".activities.admin.ReportActivity" android:exported="false" />

    </application>

</manifest>